@charset "utf-8";
body ul li {
}
p  {
	list-style-image: none;
}
div {
	margin: auto;
	width: 48%;
	height: 400px;
}
body {
	background-image: url(../img/gondola_bg.jpg);
}
img {
	float: right;
}






@media (min-height:2000px){
}

@media (width:220px){
}
.color {
	background-color: rgba(255,0,4,0.79);
}
